<div style="margin-top: 10%">
  <nz-card style="justify-content: center">
    <div>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please enter your name">
            <input nz-input formControlName="name" placeholder="Username" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Address</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please enter your Address">
            <textarea nz-input [nzAutosize]="true" formControlName="address" placeholder="Address" type="address"></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>City</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please enter city name">
            <nz-select formControlName="city">
              @for (city of cities; track city) {
                <nz-option [nzValue]="city.value" [nzLabel]="city.label">
                  {{ city.label }}
                </nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>State</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-select formControlName="state" nzErrorTip="Please enter state name">
              @for (state of states; track state) {
                <nz-option [nzValue]="state.value" [nzLabel]="state.label">
                  {{ state.label }}
                </nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Country</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please enter country name">
            <nz-select formControlName="country">
              @for (country of countries; track country) {
                <nz-option [nzValue]="country.value" [nzLabel]="country.label">
                  {{ country.label }}
                </nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7">CreatedBy</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input formControlName="createdBy" type="text" placeholder="createdBy" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button style="margin-left: 412px" nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading"
              >Submit</button
            >
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </nz-card>
</div>
