<nz-card style="height: auto">
  <div style="display: flex; justify-content: flex-end; padding-right: 25px; margin-bottom: 20px">
    <nz-button-group>
      <button nz-button style="margin-right: 10px" (click)="OnClickAddEmployee()">Add Employee</button>
      <button nz-button (click)="OnClickGoBack()">Back</button>
    </nz-button-group>
  </div>
  <nz-card [nzBordered]="false" style="height: auto">
    <nz-table #rowSelectionTable nzShowSizeChanger ngSkipHydration [nzData]="employees">
      <thead>
        <tr>
          <th nzAlign="center">ID</th>
          <th nzAlign="center">Name</th>
          <th nzAlign="center">Department ID</th>
          <th nzAlign="center">Employee Email</th>
          <th nzAlign="center">Phone</th>
          <th nzAlign="center">Status</th>
          <th nzAlign="center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data; let i = index">
          <td nzAlign="center">{{ i+1  }}</td>
          <td nzAlign="center">{{ data.fname }} - {{ data.lname }}</td>
          <td nzAlign="center">{{ data.departmentId }}</td>
          <td nzAlign="center">{{ data.email }}</td>
          <td nzAlign="center">{{ data.phone }}</td>
          <td nzAlign="center">{{ data.status }}</td>
          <td nzAlign="center">
            <a (click)="OnClickEditEmployee(data.id)">Edit</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="OnClickRemoveEmployee(data.id)">Remove</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</nz-card>
