<page-header />

<div style="display: flex; justify-content: flex-end; padding-right: 25px; margin-bottom: 20px">
  <nz-button-group>
    <button nz-button style="margin-right: 10px" (click)="OnClickAddEmployee()"><span nz-icon nzType="user-add" nzTheme="outline"></span>Add Employee</button>
    <button nz-button (click)="OnClickGoBack()">Back</button>
  </nz-button-group>
</div>
<nz-card [nzBordered]="false">
  <nz-table #rowSelectionTable nzShowSizeChanger ngSkipHydration [nzData]="listOfData">
    <!-- (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" -->
    <thead>
      <tr>
        <th nzAlign="center">ID</th>
        <th nzAlign="center">Name</th>
        <th nzAlign="center">Department</th>
        <th nzAlign="center">UserID Email</th>
        <th nzAlign="center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td nzAlign="center">{{ data.emp_id }}</td>
        <td nzAlign="center">{{ data.emp_name }}</td>
        <td nzAlign="center">{{ data.emp_depart }}</td>
        <td nzAlign="center">{{ data.emp_email }}</td>
        <td nzAlign="center">
          <a (click)="OnClickEditEmployee()">Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="OnClickRemoveEmployee()">Remove</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
