<page-header />

<div style="display: flex; justify-content: flex-end; padding-right: 25px; margin-bottom: 20px">
  <nz-button-group>
    <button nz-button style="margin-right: 10px" (click)="OnClickAddCustomer()">Add Customer</button>
    <button nz-button (click)="OnClickGoBack()">Back</button>
  </nz-button-group>
</div>
<nz-card [nzBordered]="false">
  <nz-table #rowSelectionTable nzShowSizeChanger ngSkipHydration [nzData]="listOfData">
    <!-- (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" -->
    <thead>
      <tr>
        <th nzAlign="center">ID</th>
        <th nzAlign="center">Name</th>
        <th nzAlign="center">Address</th>
        <th nzAlign="center">City</th>
        <th nzAlign="center">State</th>
        <th nzAlign="center">Country</th>
        <th nzAlign="center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td nzAlign="center">{{ data.id }}</td>
        <td nzAlign="center">{{ data.name }}</td>
        <td nzAlign="center">{{ data.address }}</td>
        <td nzAlign="center">{{ data.city }}</td>
        <td nzAlign="center">{{ data.state }}</td>
        <td nzAlign="center">{{ data.country }}</td>
        <td nzAlign="center">
          <a (click)="OnClickEditCustomer()">Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="OnClickRemoveCustomer()">Remove</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
