<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <!-- <form nz-form [formGroup]="validateForm"> -->
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="name" placeholder="Username" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Department</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="depart" placeholder="Department Name"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Email</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="email" placeholder="Email" type="email" />
    </nz-form-control>
  </nz-form-item>
  <!-- <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 8 }">
        <button nz-button nzType="primary">Submit</button>
      </nz-form-control>
    </nz-form-item> -->
</form>
