<div class="container" style="margin-top: 10%">
  <nz-card style="background: #ffffff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)">
    <h1 style="display: flex; justify-content: start">Employee Details</h1>
    <div style="margin-top: 2%">
      <nz-card style="justify-content: center; background-color: #f9f9f9e0">
        <div style="width: 50%; margin-left: 28%">
          <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>First Name</nz-form-label>
              <nz-form-control [nzSpan]="12" nzErrorTip="Please enter your first name">
                <input nz-input formControlName="fname" placeholder="Username" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>Last Name</nz-form-label>
              <nz-form-control [nzSpan]="12" nzErrorTip="Please enter your last name">
                <input nz-input formControlName="fname" placeholder="Username" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>Email</nz-form-label>
              <nz-form-control [nzSpan]="12" nzErrorTip="Please enter your email">
                <input nz-input formControlName="email" placeholder="employee@gmail.com" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>Phone</nz-form-label>
              <nz-form-control [nzSpan]="12" nzErrorTip="Please enter your phone">
                <input nz-input formControlName="phone" placeholder="7894561230" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>Department ID</nz-form-label>
              <nz-form-control [nzSpan]="12" nzErrorTip="Please enter your departmentId">
                <nz-select
                  style="width: 100%"
                  formControlName="departmentId"
                  (ngModelChange)="log($event)"
                  nzAllowClear
                >
                  <nz-option *ngFor="let option of valueDepartment" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>Status</nz-form-label>
              <nz-form-control [nzSpan]="1">
                <input nz-input type="checkbox" formControlName="status" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button style="margin-left: 205px" nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading"
                  >Submit</button
                >
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
      </nz-card>
    </div>
  </nz-card>
</div>
